@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body {
    font-family: Poppins;
}

#header_nav {
    /* display: 3; */
    justify-content: space-between;
    font-weight: 500;
    font-style: italic; 
}

#header_nav > div{
    /* display: flex; */
    align-items: center;
    margin-top: 0px;

}

.app_name {
    font-family:Staatliches;
    font-style:normal;
    font-size: 300%;
    color: rgba(115, 171, 229, 0.7);
    text-shadow: 0.1em 0.1em rgb(3, 39, 92);
}

.app_infos {
    display: flex;
    position: relative;
    left: 575px;
    top: 75px; 
    font-family: Poppins;
    font-weight: 200;
    color: rgba(59, 157, 255);
    text-shadow: 0.05em 0.05em rgb(3, 66, 161);
}

.app_connect {
    /* display: flex; */
    text-align: right;
    /* position: relative;
    left: 875px; */
    top: 75px;
    font-size: medium;
    font-family: Poppins;
    font-weight: 400;
    color: rgb(3, 85, 166);
}

#header_nav > div > a{
    display: flex;
    color: #a1cfff; 
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
    transition-duration: 0.4s; 
    font-size: 100%;  
}

#header_nav > div > a:hover{
    font-size: 350%;
    color: rgba(59, 157, 255)
}



#bg_video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
} 

